/* Alineamos el título y el icono horizontalmente */
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
    url("../fonts/Lato/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, Helvetica, sans-serif;
}

header {
  background-color: #444;
  padding: 1rem 5vw;

  >div {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;

    div {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 2rem;

      button {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: .2rem;
        cursor: pointer;


        &:hover {
            background-color: white;
            color: black;
        }
      }
    }
  }
}

h1 {
  text-align: left;
}



h2{
    
        margin-top: 1rem ;
        border-bottom: 2px solid darksalmon;   
}
.encabezado {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Ajustamos el tamaño y el espacio entre el icono y el texto */
.encabezado i {
    margin-left: 10px;
    font-size: 30px; /* Tamaño del icono */
}

main {
    margin: 0 auto;
    max-width: 800px;
}

main section:nth-child(2){
    margin-top: 2rem;
}

.divActividad {
    display: flex;
    justify-content: flex-start; /* Alineamos los elementos al inicio */
    align-items: center;
    gap: 0; /* Elimina el espacio entre los elementos */

    input[type="text"] {
        width: 500px; /* Longitud mayor que el select y el boton */
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-top-left-radius: 20px;  /* Borde superior izquierdo redondeado */
        border-bottom-left-radius: 20px; /* Borde inferior izquierdo redondeado */
    }

    select {
        width: 150px; /* Ancho del select */
        padding: 10px;
        font-size: 14px;
    }

    /* Ajustamos el botón de submit */
    input[type="submit"] {
        width: 150px; /* Tamaño del botón */
        padding: 10px;
        font-size: 14px;
        background-color: gray;
        color: white;
        border: none;
        border-top-right-radius: 20px; /* Borde superior derecho redondeado */
        border-bottom-right-radius: 20px; /* Borde inferior derecho redondeado */
        cursor: pointer;
    }

    /* Efecto hover para el botón */
    input[type="submit"]:hover {
        background-color: #45a049;
    }
}

.formActividad{
    p {
        text-align: center;
    }
}

#pendientes,#ejecucion,#finalizadas {
    padding: 1rem;
    }

.actividadPendientes, .actividadEjecucion, .actividadFinalizadas{
    display:flex;
    justify-content: space-between;
    i{
        cursor:pointer;
    }
}

